/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

aside, article, section, header, footer, nav {
	display: block;
}
html, body {
	padding: 0;
	position: relative;
}
html {
	background: rgb(123, 121, 143);
}
body {
	width: 960px;
	background: #fff;
	margin: 2em auto 2em;
	font: 100% Verdana, Geneva, sans-serif; 
}
/*horizontal menu styles*/
.horNav {
	background: rgb(98,199,23);
	height: 2.6em;
}
.horNav ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
.horNav ul {
	background: rgb(78, 67, 65);
	height: 2.3em;
	width: 100%;
}
.horNav li a {
	display: block;
	margin-right: 2em;
	line-height: 2.3em;
	padding: 0 .9em;
	color: white;
	text-decoration: none;
}	
.horNav li a:hover {
	background: rgb(98,199,23);
	height: 2.5em;
	padding-top: .3em;
	position: relative;
	top: -.3em;
	border-radius: .3em 0 .3em 0;
}
.current, a:hover.current {
	background: #ad9b7f;
	color: #eee;
	padding-top: .3em;
	position: relative;
	top: -.3em;
	border-radius: .3em 0 .3em 0;
	border-bottom: .3em solid #ad9b7f;
	cursor: default;
}
/*logo styles*/
.logo {
	padding: 25px;
	height: 180px;
	margin-top: 25px;
}
.logo {
	background: url(llb_logo2.png) no-repeat;
	height: 182px;
	width: 135px;
	left: 20px;
	position: absolute;
	z-index: 2;
	opacity: .9;
}

/*bannerApplication styles*/
.bannerApplication {
	height: 180px;
	padding-left: 50px;
	overflow: hidden;
	background: url(banner_2.jpg) no-repeat;
	padding-bottom: 0;
	position: relative;
}

.bannerApplication p {
	padding: 30px 15px 0;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.5;
	color: #fff;
	background: rgba(96, 66, 145, .8);
	width: 265px;
	height: 305px;
	position: absolute;
	top: 0;
	right: 0;
}

.bannerApplication h2 {
	font-size: 1.2em;
	color: White;
	padding-top: 10px;
	margin-left: -1000em;
	letter-spacing:.1em;
	text-transform: uppercase;
}

.application {
	min-height: 600px;
	height: auto;
	width: 896;
	float: left;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 50px;
}
h1 {
	font-size: 1.2em;
	display: block;
	width: 35%;
	line-height: 1.8em;
	padding: 0 32px;
	background: rgba(96, 66, 145, .8);
	color: white;	
}
p {
	font-size: .8em;
}
/*table styles*/
table#children {
	border-style: none;
	width: 100%;
	border-with: none;
	background: none;
	border-collapse: collapse;
	margin-bottom: 32px
}
.tableheader {
	font-weight: bold;
	font-size: .9em;
	line-height: 2.2em;
	background-color: rgba(96, 66, 145, .8);
	border-color: none;
	border-style: none;
	border-width: thin;
	color: white;	
}
.tabledata {
	font-weight: 300;
	font-size: .8em;
	height: 10em;
	vertical-align: bottom;
	padding: 0 32px 22px 32px;
	background-color: white;
	border-color: none;
	border-left: 1px dotted black;
	border-bottom: 1px solid black;
	color: black;
}
/*footer styles*/
footer {
	background: rgb(100, 98, 102);
	height: 150px;
	line-height: 2em;
	font-size: .7em;
	color: white;
	padding: 1.5em 32px;
	clear: both;
}