<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>2 column layout</title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<%= stylesheet_link_tag "default.css" %>
</head>
<body>
<nav class="horNav">
<ul>
  <li><a href="home.htm" title="Home page" class="current">Home</a></li>
  <li><a href="register.htm" title="Register">Register</a></li>
  <li><a href="agency.htm" title="Select an Agency">Agency</a></li>
  <li><a href="child.htm" title="Select a Child">Child</a></li>
  <li><a href="contact.htm" title="contact us">Contact Us</a></li>
</ul>
</nav>

<!-- <div class="logo">
</div> -->

<section id="content">
	<div class="banner">
		<h1>Welcome to LLB International Adoption</h1>
		<p>At Little Luv Bug International Adoption our goal is to assist in the adoption process by providing seeking parents with a list of professional adoption agencies and eligible children.</p>
	</div>
</section>

<section class="col1">
  <%= yield %>
</section>

<footer>Copyright stuff....</footer>
</body>
</html>
