<!DOCTYPE html>
<html>
<head>
  <title>AdoptionSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="cf">
<ul>
  <li><a href="home.htm" title="Home page" class="current">Home</a></li>
  <li><a href="register.htm" title="Register">Register</a></li>
  <li><a href="agency.htm" title="Select an Agency">Select an Agency</a></li>
  <li><a href="child.htm" title="Select a Child">Select a Child</a></li>
  <li><a href="contact.htm" title="contact us">Contact Us</a></li>
</ul>
</nav>
<div class="logo">
</div>

<section id="content">
<div class="banner">
<h1>Welcome to LLB International Adoption</h1>
<p>At Little Luv Bug International Adoption our goal is to assist in the adoption process by providing seeking parents with a list of professional adoption agencies and eligible children.</p>
</div>
</section>
<section class="col1">
<h4>This is where the really important stuff goes.</h4>

<%= yield %>


<p>Obitatum eum quis et estotat as exceptas ist rerisinctur, coritiis et, to magni as perit facestium, natium que voluptatem into berro officia vel maiore nobis aturio cum hic tem. Sincilit aceris erro ma voluptatem faccust, ommodis mo quis eum, odis cumquia ssinimin pa acest aut audio doluptatem in nam que voloraturios non cus, quatquat maio et eaquo to core vel in cum veles.</p>
<div class="news">
<h4>News Article 1.</h4><p>Obitatum eum quis et estotat as exceptas ist rerisinctur, coritiis et, to magni as perit facestium, natium que voluptatem into berro officia vel maiore nobis aturio cum hic tem. Sincilit aceris erro ma voluptatem faccust, ommodis mo quis eum, odis cumquia ssinimin pa acest aut audio doluptatem in nam que voloraturios non cus, quatquat maio et eaquo to core vel in cum veles.</p>
</div>
<div class="news">
<h4>News Articles 2.</h4><p>Obitatum eum quis et estotat as exceptas ist rerisinctur, coritiis et, to magni as perit facestium, natium que voluptatem into berro officia vel maiore nobis aturio cum hic tem. Sincilit aceris erro ma voluptatem faccust, ommodis mo quis eum, odis cumquia ssinimin pa acest aut audio doluptatem in nam que voloraturios non cus, quatquat maio et eaquo to core vel in cum veles.</p>
</div>
</section>

<aside class="col2">
<h4>Other important stuff.</h4>
Obitatum eum quis et estotat as exceptas ist rerisinctur, coritiis et, to magni as perit facestium, natium que voluptatem into berro officia vel maiore nobis aturio cum hic tem. Sincilit aceris erro ma voluptatem faccust, ommodis mo quis eum, odis cumquia ssinimin pa acest aut audio doluptatem in nam que voloraturios non cus, quatquat maio et eaquo to core vel in cum veles ut pratur? Ute latest quis soluptas repelit am quatque minimpe ratium quodit aceatibus.
Feriatibusci aut lanis aborrovidem et volorep erchit mod que ex escilit et aut ellessitatur ad mos a core modignim faccatur millest iscilit prerumendia dolut volum nonessequis aut lantio. Ut as eum el evelendustis alitem sequaepra debis dolore conseque quundis ma et poresequas es volorem et apel molupta tiatemp oratureic tendipiet lit occabo. Simo que et ex et haruptat.
Ihil illaccum resti quatur adi cor as non repe remporumqui ditiis non et es mi, as eum restio quam, alibea vit vel iliandi gnatiate re quunde volorer ciates et aut pra parupti nonsecte suscid quate num venit di qui debis asped quas ra autem ut qui qui offictur, quias autempor aspellut qui re elicim volor rem as sitios mintem ea quo ommoluptam cum fuga. Nam denderchil ipic torere cus parum rerupti re preium nitibea dis sum doloribusam faccaturia cum endi qui odi dolorem saped que non nem. Itatur, sum eiunt.
Em rerferate mod quiberu ptatius.
Ant fuga. Itae vollamus.
Ihicto voluptatia in pratest oreicaepudam quiae es eaquas et aliquatios eicabore restruptas ut accuptatem. Cus dolore entiamus aut ipid molum volupid eliqui qui num fugiatque corpori volorenis doluptaesse il exerum faccust orepro tem dolum el mo comnim dem auda parcilitis
</aside>
<footer>Copyright stuff....</footer>
</body>
</html>
